<!DOCTYPE html>
<html>
  <body>
    <div class="navbar">
      <div class="subnav">
        <button class="subnavbtn">Master <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a routerLink="comp1">State</a>
          <a href="#team">City</a>
          <a href="#careers">University</a>
          <a href="#careers">Student</a>
          <a href="#careers">Branch</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Transaction <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="#bring">Student Attendance</a>
          <a href="#deliver">Student Makrs</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Reports <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="#link1">Student Marks</a>
          <a href="#link2">Report2</a>
          <a href="#link3">Report3</a>
          <a href="#link4">Report4</a>
        </div>
      </div>
      <a href="#contact">Logout</a>
    </div>
  </body>
</html>
<router-outlet></router-outlet>